<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>noteTypes</title>
</head>
<body>
<a href="/create-noteType">Create new NoteType</a>
<h1>NoteTypes</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="productType : ${productTypes}">
        <tr>
            <td th:text="${productType.typeName}"></td>
            <td><a th:href="@{/edit-productType/__${productType.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-productType/__${productType.id}__ }">Delete</a></td>

        </tr>
    </th:block>
</table>
</body>
</html>