<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-product">Create new product</a>
<h1>notes</h1>
<form>
    Search by Name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Note Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.code}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.amount}"></td>
            <td th:text="${product.birthDate}"></td>
            <td th:text="${product.productType.typeName}"></td>
            <td><a th:href="@{/edit-product/__${product.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-product/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>

<div th:if="${titleSearch}">
    <span th:each="productPage: ${productPages}">
        <a th:href="@{'/products?page=' + ${productPage} + '&s=' + ${titleSearch}}" th:text="${productPage + 1}" th:if="${productPage != products.number}"></a>
        <a th:if="${productPage == products.number}" th:text="${'['+(productPage + 1)+']'}"></a>
    </span>
</div>
<div th:if="${titleSearch} == null">
    <span th:each="productPage: ${productPages}">
        <a th:href="@{'/products?page=' + ${productPage}}" th:text="${productPage + 1}" th:if="${productPage!= products.number}"></a>
        <a th:if="${productPage == products.number}" th:text="${'['+(productPage + 1)+']'}"></a>
    </span>
</div>

</body>
</html>